<form
    class="d-inline-block"
    method="post"
    action="{{ path('book_delete', {'id': book.id}) }}"
    onsubmit="return confirm('Удалить книгу?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
    <button class="btn btn-outline-danger">Удалить</button>
</form>
