{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
    <div class="text-end">
        <button id="_submit" class="btn btn-success">Сохранить</button>
    </div>
{{ form_end(form) }}
